Package: libpopt0-dbgsym
Source: popt
Version: 1.16-11
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Michael Jeanson <mjeanson@debian.org>
Installed-Size: 52
Depends: libpopt0 (= 1.16-11)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libpopt0
Build-Ids: dcd4cba4c51e462c7e3c00fab5eb7e340e010535
