Package: libpopt0
Source: popt
Version: 1.16-11
Architecture: amd64
Maintainer: Michael Jeanson <mjeanson@debian.org>
Installed-Size: 266
Depends: libc6 (>= 2.27)
Conflicts: libpopt-dev (<= 1.4-1), popt, rpm (<= 4.0.2-3)
Replaces: popt
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://rpm5.org/
Description: lib for parsing cmdline parameters
 Popt was heavily influenced by the getopt() and getopt_long() functions,
 but it allows more powerful argument expansion. It can parse arbitrary
 argv[] style arrays and automatically set variables based on command
 line arguments. It also allows command line arguments to be aliased via
 configuration files and includes utility functions for parsing arbitrary
 strings into argv[] arrays using shell-like rules.
 .
 This package contains the runtime library and locale data.
